
body {
    background-color: rgb(97, 94, 50);
    font-family: Georgia;
    color:rgb(255, 248, 190);
    border-color: rgb(255, 248, 190)
  }

  .main{
    max-width: 700px;
    height: 100%;
    text-align: center;
    margin:auto;
    background-color: rgb(73, 67, 33);
    padding: 10px;
    border-radius:5px;

  }

  .container-left{
    text-align: left;
  }

hr{
  border-color: rgb(255, 248, 190);
}

  /*title*/
h1 {
  text-align: center;
}

/*main headings*/
h2{
  background-color: rgb(138, 109, 47);
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}

/*paragraphs*/
p {
  color:rgb(255, 248, 190);
}

/*links*/
a:link, a:visited {
  background-color: #7c772b;
  color:inherit;

  font-weight: bold;
  font-size: 20px;
  font-style: oblique;

  padding: 10px 15px;

  text-align: left;
  text-decoration: none;

  display: inline-block;
  border-radius: 5px;
  border-color: rgb(180, 182, 83);
  border-style: solid;  

}

a:hover, a:active {
  background-color: rgb(143, 134, 55);
}

img {
  color:rgb(34, 216, 80)
}

h3{
  margin-left: 40px;
  text-decoration: underline;
  font-size: 26px;
  font-style: oblique;
}

ul{
  list-style-type: disc;
  margin-left: 35px;
}

li{
  margin-block-end: 10px;
}

a.simple{
  all:revert;
  color:rgb(166, 243, 23);
  font-size: 20px;
}

li.simple{
  margin-bottom: 20px;
  margin-top: 20px
}

iframe{
  margin: auto;
  display: inline-block

}

  /* Style dropdown menus and submenus */
  .dropdown, .submenu {
    position: relative;
    display: inline-block;
    margin-left:0px;
    font-weight: bold;
  }

/* Style the content dropdown list  */
  .dropdown-content, .submenu-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: visible;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: rgb(104, 92, 58);
    border-radius: 5px;
    text-align: left;
    padding: 7px;
    z-index: 99;
  }

/* Style the links within submenu list */
  .dropdown-content a, .submenu-content a {
    all:revert;
    display: block;
    color:inherit;
    padding: 5px;
    text-decoration: none;
    line-height: 1.5;
  }

  .submenu-content {
    left: 100%;
    top: 0;
  }
/* Show submenu content on focus */
  .dropdown:focus-within .dropdown-content,
  .submenu:focus-within .submenu-content {
    display: block;
  }

.dropdown:hover .dropdown-content,.submenu:hover .submenu-content {
  display: block;
}

.dropdown-content a:hover, .submenu-content a:hover, .dropdown:hover {
  background-color: #b4a550;
  border-radius: 5px;
}

.dropdown a{
  all:revert;
  display: block;
  color: inherit;
  padding: 5px;
  text-decoration: none;
  line-height: 1.5;
}

button{
  border-radius: 5px;
  padding:10px;
  font-family: Georgia;
  background-color: #926f3e;
  font-weight: bold;
  border-style: solid;
  border-color: #533114;
  color:inherit;
}

.navbar {
  position:relative;
  z-index: 999;
  border-radius: 5px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(163, 139, 59);
}
